nav {
  background-color: orange;
  position: fixed;
  margin: 0;
  width: 100%;
}

main {
    padding-top: 125px;
    /*margin-bottom: 20px;*/
}

.col-4 {
    border: 1px solid gray;
    display: inline-block;
    margin-bottom: 20px;
}

img {
    width: 100%;
    /*height: 100%;*/
    /*max-width: 200px;*/
    /*max-height: 200px;*/
    /*text-align: left;*/
    /*vertical-align: top;*/
    /*display: block;*/
  }

h3 {

}

p {

}
